<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite thread-count="1" verbose="1" name="API Suite" annotations="JDK" parallel="tests">

    <test name="Test_1">
        <classes>
            <class name="com.adyax.api.automation.tests.SimpleGetTest"/>
        </classes>
    </test>

</suite>